/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

html {
	font-size: 100%;
}

body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #444;
	background: #89b2cd url(images/body.gif);
	font-size: 10px;
	margin: 0;
	padding: 0;
}
#body-simple {
	background: #FFF;
	padding: 5px;
}
div#body { 
    background: url(images/body_top.gif) top left repeat-x; 
    padding: 5px;
}

/* Misc stuff */
img {
	border: none;
}

.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

.error, table td .error {
	color: #0052ff;
}

.spacer {
	background: #8ab5cd url(images/cathead.gif) top left repeat-x;
}

hr	{ height: 0px; border: solid #9eb9d5 0px; border-top-width: 1px;}

.pagination {
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
}

/* Links
 ------------ */
.rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

a {
	color: #639bba;
	text-decoration: none;
}

a:active,
a:visited {
	color: #639bba;
	text-decoration: none;
}

a:hover {
	color: #0052ff;
	text-decoration: underline;
}

a.forumlink {
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

a.topictitle {
	margin: 1px 0px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

a.topictitle, .postbody a {
	color: #639bba;
}
a.topictitle:visited, .postbody a:visited {
	color: #76abc4;
}
a.topictitle:visited:hover, .postbody a:visited:hover {
	color: #639bba;
}
a.topictitle:hover, .postbody a:hover {
	color: #0052ff;
}

/* Header and logo */
#maintable {
	margin: 0 auto;
	background-color: #FFF;
}
#header, .row-left, .row-right { padding: 0; }

.row-left { width: 4px; overflow: hidden; background: url(images/row_left.gif) top left repeat-y; }
.row-right { width: 4px; overflow: hidden; background: url(images/row_right.gif) top right repeat-y; }

#logorow {
	background: url(images/logo_bg.gif) top left repeat-x;
	text-align: center;
	padding: 0;
}

#search-box {
	display:block;
	float:right;
	line-height:2;
	margin-top:15px;
	position:relative;
	text-align:right;
	white-space:nowrap;
}

#search-box fieldset {
	border-width:0;
}

#logo-left {
	background: url(images/logo_left.gif) top left no-repeat;
}
#logo-right {
	background: url(images/logo_right.gif) top right no-repeat;
	padding: 4px 15px 0 15px;
	text-align: left;
	overflow: hidden;
}

.pm-notify-new, .pm-notify-unread {
	border-left: solid 1px #90b3d6;
	border-right: solid 1px #7ca5ce;
	border-top: solid 1px #90b3d6;
	border-bottom: solid 1px #7ca5ce;
	background: #ecf5f8 url(images/cell.gif) top left repeat-x;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.pm-notify-new a, .pm-notify-new a:visited, .pm-notify-unread a, .pm-notify-unread a:visited { text-decoration: underline; }
.pm-notify-header {
	margin-bottom: 10px;
	color: #0052ff;
}
.pm-notify-new { padding: 30px; }

/* Navigation buttons */
.navrow {
	background: url(images/buttons.gif) top left repeat-x; 
	height: 21px;
	overflow: hidden;
	color: #8db8ce;
	text-align: center;
	font-size: 11px;
	padding-top: 4px;
}
/* * html .navrow { padding: 0; } */
.navrow b, .navrow strong { font-weight: normal; }
.navrow a, .navrow a:visited {
	color: #639bba;
	text-decoration: none;
	padding-left: 5px;
	padding-right: 5px;
}
.navrow a:hover { 
	color: #0052ff; 
	text-decoration: underline; 
}

a.link-new, a.link-new:visited { color: #0052ff; }
a.link-new:hover, a.link-new:visited:hover { color: #2964e0; }

/* footer */
.row-bottom { 
    padding: 0;
    overflow: hidden;
    background: url(images/bottom_bg.gif) top left repeat-x; 
    height: 10px;
}
* html .row-bottom { font-size: 1px; line-height: 1px; }
.row-bottom div {
    height: 10px;
    background: url(images/bottom_left.gif) top left no-repeat;
}
.row-bottom div div {
    background: url(images/bottom_right.gif) top right no-repeat;
}

/* Content and tables */
#contentrow {
	padding: 8px;
}

.tablebg {
	border: solid 1px #b5cae0; 
	background: #ecf5f8 url(images/cell.gif) top left repeat-x;
}
.block-start .tablebg { 
    border-top-width: 0; 
    border-bottom-width: 0; 
    border-color: #4877a1;
}

.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom {
	border-left: solid 1px #fff;
	border-right: solid 1px #9eb9d5;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #9eb9d5;
	background: #ecf5f8 url(images/cell.gif) top left repeat-x;
	padding: 4px;
}
th {
	color: #689cbc; 
	font-size: 11px; 
	font-weight: bold;
	background: #f0f8fa url(images/th.gif) top left repeat-x;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	border-left: solid 1px #fff;
	border-right: solid 1px #9eb9d5;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #9eb9d5;
}
th a, th a:visited {
	color: #689cbc !important;
	text-decoration: underline;
}
th a:hover {
	color: #0052ff;
	text-decoration: underline;
}

td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.catdiv, .cat, .cathead {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #93bed1;
	border-right: solid 1px #9eb9d5;
	border-top: solid 1px #528db2;
	border-bottom: solid 1px #9eb9d5;
	background: #8fb4ce url(images/cathead.gif) top left repeat-x;
	color: #ecf4f9;
}

.cat, .cathead {
	text-indent: 4px;
}

.catdiv a, .cathead a, .cat a {
    color: #ecf4f9;
    text-decoration: underline;
}
.catdiv a:hover, .cathead a:hover, .cat a:hover {
    color: #fff;
    text-decoration: underline;
}


/* Table header */
caption, .cap-div { 
	margin: 0; 
	padding: 0;
	background: url(images/hdr_mid.gif) top left repeat-x;
	white-space: nowrap;
	height: 27px;
	text-align: left;
}
.cap-left {
	background: url(images/hdr_left.gif) top left no-repeat;
}
.cap-right {
	background: url(images/hdr_right.gif) top right no-repeat;
	padding-top: 6px;
	padding-left: 23px;
	height: 21px;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div, .cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	font-size: 12px;
	font-weight: bold;
	color: #ecf4f9;
}
caption h1, caption h2, caption h3, caption h4, caption span,
.cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span { 
	display: inline;
}
caption a, caption a:visited, .cap-div a, .cap-div a:visited {
	color: #ecf4f9;
	text-decoration: underline;
}
caption a:hover, .cap-div a:hover {
	color: #FFF;
	text-decoration: underline;
}

.block-start { background: url(images/ftr_mid.gif) bottom left repeat-x; }
.block-end-left { background: url(images/ftr_left.gif) top left no-repeat; }
.block-end-right { background: url(images/ftr_right.gif) top right no-repeat; }
.block-end-left, .block-end-right { height: 4px; overflow: hidden; padding: 0; }

/* Footer */
#wrapfooter {
	text-align: center;
	color: #CCC;
	padding-top: 10px;
}

.copyright {
	color: #639bba;
	font-weight: normal;
	font-size: 9px;
	line-height: 1.2em;
}
.copyright a, .copyright a:visited {
	color: #9eb9d5;
	text-decoration: underline;
}
.copyright a:hover { color: #639bba; }


/* Breadcrumbs */
.breadcrumb .row1 { 
    border-width: 1px 0 0 1px; 
    background: #f2f6fa;    
}
p.breadcrumbs {
	margin: 0;
	padding: 0;
	float: left;
	color: #7aa8c5;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}
.rtl p.breadcrumbs {
	float: right;
}

p.datetime {
	margin: 0;
	padding: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

.rtl p.datetime {
	float: left;
}

/* Index/viewforum */
.subforum.read { 
	background: url(images/sub_old.gif) top left no-repeat;
	padding-left: 12px;
}
.subforum.unread { 
	background: url(images/sub_new.gif) top left no-repeat;
	padding-left: 12px;
}
.legend {
	text-align: center;
	margin: 0 auto;
	padding: 2px;
	border-top-color: #a8beda;
	border-left-color: #a8beda;
}
.legend-viewforum { 
	margin: 0; 
	text-align: left; 
	border-top-color: #a8beda;
	border-left-color: #a8beda;
}

.forumrules {
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	border-left: solid 1px #afc3dd;
	border-right: solid 1px #9eb9d5;
	border-top: solid 1px #afc3dd;
	border-bottom: solid 1px #9eb9d5;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.forumrules h3 {
	color: #0052ff;
}

/* Post */
.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #639bba;
}
td.postbottom { 
	background: #f2f9fa url(images/profile.gif) top left repeat-x; 
	font-size: 10px;
	color: #70a4c1;
	white-space: nowrap;
	padding: 2px 4px;
	vertical-align: middle;
	border-left: solid 1px #eef5f9;
	border-top: solid 1px #eef5f9;
	border-right: solid 1px #99bbd2;
	border-bottom: solid 1px #99bbd2;
}
td.postbuttons { padding-top: 3px; }
.postdetails { 
	color: #75abc3;
	font-size: 10px; 
	text-align: left;
}
.postdetails b {
	color: #75abc3;
}
.posterrank		{ font-size: 9px; color: #5790b5; }
.posterprofile	{ font-size: 10px; color: #639bba; }

.postauthor {
	color: #639bba;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: bold;
}
.postonline { margin-bottom: 2px; }

.postreported, .postreported a:visited, .postreported a:hover, .postreported a, .postreported a:active {
	margin: 1px 0px;
	color: #0052ff;
	font-weight: bold;
}

.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a, .postapprove a:active {
	color: #00FF00;
	font-weight: bold;
}

.postapprove img, .postreported img {
	vertical-align: bottom;
}

.postbody {
	font-size: 12px;
	line-height: 1.4em;
	margin: 3px 0;
}
.signature {
	font-size: 11px;
	color: #666;
	margin-top: 5px;
}
.signature .line { color: #9eb9d5; }

.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}

.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}

.posthilit {
	background-color: #9dc4d7;
	color: #000;
}

.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #639bba;
}

.postbody a { text-decoration: underline; }

/* UCP */
.folder-current a, .folder-current a:visited {
	color: #0052ff;
	font-weight: bold;
}
.folder-current a:hover { color: #0052ff; }

td.pm_marked_colour { background: #0052ff; }
td.pm_marked_colour_left { border-left: solid 3px #0052ff; padding-left: 2px; }
td.pm_marked_colour_right { border-right: solid 3px #0052ff; padding-right: 2px; }

td.pm_replied_colour { background: #639bba; }
td.pm_replied_colour_left { border-left: solid 3px #639bba; padding-left: 2px; }
td.pm_replied_colour_right { border-right: solid 3px #639bba; padding-right: 2px; }

td.pm_friend_colour { background: #007700; }
td.pm_friend_colour_left { border-left: solid 3px #007700; padding-left: 2px; }
td.pm_friend_colour_right { border-right: solid 3px #007700; padding-right: 2px; }

td.pm_foe_colour { background: #0072dd; }
td.pm_foe_colour_left { border-left: solid 3px #0072dd; padding-left: 2px; }
td.pm_foe_colour_right { border-right: solid 3px #0072dd; padding-right: 2px; }


/* Form Elements
 ------------ */
form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

textarea, select, .post, .btnbbcode, .btnmain, .btnlite, .btnfile, .helpline {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #444;
	border: 1px solid #9eb9d5;
	background-color: #f0f5fa;
}
.cat .btnmain, .cat .btnlite, .cat select {
    color: #444;
    background-color: #afcddd;
    border-color: #3c6e89;
}

input {
	font-size: 1.1em;
	padding: 1px;
}
textarea {
	font-size: 1.3em; 
	line-height: 1.4em;
	padding: 2px;
}
select {
	font-size: 1.1em;
	padding: 1px;
}

option {
	padding: 0 1em 0 0;
}

.rtl option {
	padding: 0 0 0 1em;
}

.post {
	border-style: solid;
	border-width: 1px;
}

.btnbbcode {
	font-size: 1.1em;
	color: #639bba;
	border: 1px solid #bfcfe5;
}
.btnbbcode:hover {
	border-color: #9eb9d5;
	color: #000;
}

.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnlite {
	font-weight: normal;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

.btnfile {
	font-weight: normal;
	padding: 1px 5px;
	font-size: 1.1em;
}

.helpline {
	background-color: transparent;
	color: #AAA;
	border-style: none;
}
#helpline { color: #AAA; }

* html textarea, * html select, * html .post, * html .btnmain, * html .btnlite, * html .btnfile {
	border-color: #9eb9d5;
}
* html .cat .btnmain, * html .cat .btnlite {
    border-color: #3c6e89;
}
textarea:hover, select:hover, .post:hover, .btnmain:hover, .btnlite:hover, .btnfile:hover {
	border-color: #6f9abf;
}
textarea:focus, select:focus, .post:focus, .btnmain:focus, .btnlite:focus, .btnfile:focus {
	border-color: #4978a1; 
	color: #000;
}
.cat .btnmain:hover, .cat .btnlite:hover, .cat select:hover {
    border-color: #2a495f;
}
.cat .btnmain:focus, .cat .btnlite:focus, .cat select:focus {
    border-color: #2a495f;
    color: #000;
}

label:hover { 
	color: #0052ff; 
}

textarea.posting-textarea, #ie8#fix {
    width: 98%;
}

/* BBCode
 ------------ */
.quotetitle, .attachtitle, .codetitle {
	margin: 10px 5px 0px 5px;
	padding: 2px 4px;
	border: solid 1px #bdd0e4;
	color: #639bba;
	background-color: #e6f0f5;
	font-size: 0.85em;
	font-weight: bold;
}

.quotetitle .quotetitle {
	font-size: 1em;
}

.quotecontent, .attachcontent {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #bdd0e4;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	background-color: #edf4f9;
	color: #444;
}

.attachcontent {
	font-size: 0.85em;
}

.codecontent {
	direction: ltr;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #bdd0e4;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #edf4f9;
	color: #444;
}

.quotewrapper, .codewrapper, .attachwrapper {
	clear: both;
	margin: 10px 5px;
	background: #e6f0f5 url(images/code_header.gif) top left no-repeat;
	padding-left: 19px;
	border: solid 1px #bdd0e4;
	border-bottom-color: #9eb9d5;
	border-right-color: #9eb9d5;
}
.quotewrapper { background-image: url(images/quote_header.gif); }
.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle { 
	margin: 0; 
	border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent {
	margin: 0; 
	border-width: 0 0 0 1px;
}
.attachcontent, .codecontent {
	overflow: auto;
	overflow-x: auto;
}

.syntaxbg {
	color: #edf4f9;
}

.syntaxcomment {
	color: #639bba;
}

.syntaxdefault {
	color: #444;
}

.syntaxhtml {
	color: #447e9c;
}

.syntaxkeyword {
	color: #2d6c8d;
}

.syntaxstring {
	color: #407b9b;
}


/* More misc stuff */
h1 {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

h2 {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

h4 {
	margin: 0px;
	font-size: 1.1em;
	font-weight: bold;
}

p {
	font-size: 1.1em;
}

p.moderators {
	margin: 0px;
	float: left;
	color: #639bba;
	font-weight: bold;
}

.rtl p.moderators {
	float: right;
}

p.linkmcp {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.linkmcp {
	float: left;
}

p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

p.searchbarreg {
	margin: 0px;
	float: right;
	white-space: nowrap;
}

.rtl p.searchbarreg {
	float: left;
}

p.forumdesc {
	padding-bottom: 4px;
}

p.topicauthor {
	margin: 1px 0px;
}

p.topicdetails {
	margin: 1px 0px;
}
td.history-current, tr.row1 td.history-current, tr.row2 td.history-current {
	background: #FFF;
}

table.colortable td {
	padding: 0;
}

pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

.nowrap {
	white-space: nowrap;
}

.username-coloured {
	font-weight: bold;
}

.sep {
	color: #639bba;
}


/* reset style for file input */
.btnfile, .btnfile:hover, .btnfile:focus { 
    border: none; 
    background-color: #FFF;
    color: #000;
}